{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <h2 class="text-center mb-4 display-5 fw-bold">Contact Me</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="message-alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
         {% endfor %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" name="subject" id="subject" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea name="message" id="message" rows="5" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary mx-auto d-block">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-- Footer-->
{% block footer %} 
{% include "footer.html" %} 
{% endblock footer %}
