<footer class="text-center text-white py-2 relative-bottom w-100 mb-4 mt-4" style="background: none; height: 50px;">
    <div class="container">
        <h6>Connect With Me</h6>
        <div class="d-flex justify-content-center mb-2">
            <a href="https://linkedin.com/in/asileayuba" class="btn btn-outline-light mx-2 btn-sm">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/asileayuba" class="btn btn-outline-light mx-2 btn-sm">
                <i class="fa-brands fa-x-twitter"></i> 
            </a>
            <a href="https://github.com/asileayuba" class="btn btn-outline-light mx-2 btn-sm">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>        
        <p class="mb-0 small">&copy; 2025 Asile Ayuba</p>
    </div>
</footer>

<!-- Back to Top Button -->
<button id="backToTop" title="Go to top">&#8679;</button>